.content {
    max-width: 1200px;
    margin:0 auto;
    padding: 0 1 .5em;
}


.store-list {
    text-align: left;
}

.product-list {
    text-align: left;
}

.select-list {
    outline: none;
    border: none;
    font-size:200%;
    background-color: #f7f7f7;
    font-family: inherit;
    padding: 50px;
    text-align: left;
}