h1 {
    margin: 5px 10%;
    font-weight: normal;
}

form {
    margin: auto;
    padding: 3% 17%;
    overflow: auto;
}

form p, .contact-medthod, .contact-day {
    font-size: 14px;
    margin-bottom: 7px;
}

.field, .name-field, .big-field {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.field, .name-field {
    height: 40px;
}

.big-field {
    height: 90px;
}

.name {
    display: inline;
    width: 45%;
    margin-bottom: 10px;
}

.name + p {
    clear: both;
}

.contact-medthod {
    margin-right: 60px;
}

.contact-day {
    margin-right: 12px;
}

input[type="reset"], input[type="submit"] {
    width: 120px;
    height: 45px;
    margin-top: 4%;
}

form input[type="reset"] {
    background-color: #fff;
    border: 1px #000 solid;
}

form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
}
