h1 {
    margin: 5px 10%;
    font-weight: normal;
}
form p, .contact-medthod, .contact-day {
    font-size: 14px;
}
form {
    margin: auto;
    padding: 3% 17%;
}

form p {
    margin-bottom: 5px;
}

.field, .big-field {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.field {
    height: 40px;
}

.big-field {
    height: 90px;
}

.contact-medthod {
    margin-right: 60px;
}

.contact-day {
    margin-right: 12px;
}



