#bio-content p {
    line-height: 1.5;
}

.shop-founder-ceo, .shop-cfo {
    width: 50%;
    box-sizing: border-box;
}

.shop-founder-ceo {
    padding-right: 20px;
}

.shop-cfo {
    padding-left: 20px;
}

.shop-leader-name {
    font-size: 20px;
    font-weight: normal;
    margin: 20px auto 5px;
}

.shop-leader-position {
    font-size: 13px;
    margin: 0 auto 30px;
}