.store-header {
    text-align: center;
}

.store-header .store-card-thumbnail {
    margin: 50px auto 20px;
}

h2 {
    font-weight: normal;
    margin: 5px auto 5px;
}

.store-header a, .store-footer a {
    color: #000;
    text-decoration: none;
}

.store-header i {
    padding: 7px;
}

.store-header p {
    text-align: justify;
    margin: 25px 10% 60px;
    font-size: 14px;
    line-height: 1.8;
}

.store-nav {
    background-color: #ececec;
    box-shadow: 0px 1px 3px 0px;
    margin-bottom: 100px;
}

.store-nav-bttn, .store-footer-bttn {
    display: inline-block;
    box-sizing: border-box;
    background-color: inherit;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.store-nav-bttn {
    padding: 15px;
    width: 24.7%;
}

.store-nav-bttn:hover {
    background-color: #dddddd;
}

.store-nav i {
    padding: 0;
    margin-left: 20px;
}

.store-nav-dropdown-list {
    background-color: #ececec;
    width: 15%;
    display: none;
    position: absolute;
    margin-top: 15px;
    box-shadow: 0px 3px 6px 0px;
}

.store-nav-dropdown-list a {
    display: block;
    padding: 12px;
}

.store-nav-dropdown-list a:hover {
    background-color: #dddddd;
}

.store-nav-dropdown-list hr {
    border-bottom: 1px solid #403d39;
    margin: 0;
}

.store-nav-dropdown:hover .store-nav-dropdown-list {
    display: block;
}

.store-footer {
    background-color: #dddddd;
    margin: 0;
}

.store-footer-bttn {
    padding: 20px; 
    width: 27%;
}

.store-footer-bttn:hover, .store-footer-bttn:active {
    background-color: #a9a9a9;
}

.store-logo {
    padding: 5px;
    margin: 1px 50px 0 10px;
}