.store-home-content {
    width: 90%;
    margin: auto;
}

.store-home-content-new, .store-home-content-featured {
    margin-bottom: 80px;
}

.store-home-content-header {
    text-align: center;
}

.store-home-content h1 {
    font-size: 22pt;
    display: inline-block;
    margin-right: 10px;
}
