.u-btn {
    /*display: inline-block;*/
    display: table;
    /*TODO maye need another solution for negative marin*/
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}
/*position input form resetpw and submit button*/
.u-form-horizontal {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-grow: 1;
}
.u-input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: transparent;
    color: inherit;
    height: auto;
}
.u-form-vertical.u-form-spacing-27 {
    margin-left: -27px;
    width: calc(100% +  27px);
}
/*spacing btw input forms*/
.u-form-vertical.u-form-spacing-27 .u-form-group {
    margin-bottom: 27px;
    padding-left: 27px;
}
.u-form-horizontal .u-form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0;
    flex-grow: 1;
}
.u-form-horizontal .u-form-submit {
    display: flex;
    flex-grow: 0;
}
.u-form-control-hidden {
    display: none !important;
}
.u-form-horizontal .u-btn-submit,
.u-form-vertical .u-btn-submit {
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
}
.u-form-horizontal.u-form-spacing-11 .u-form-group {
    margin-right: 11px;
}
.u-form-horizontal.u-form-spacing-10 .u-form-group {
    margin-right: 10px;
}
.u-form-horizontal.u-form-spacing-9 .u-form-group {
    margin-right: 9px;
}
.u-form div.u-form-send-error,
.u-form div.u-form-send-success {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px 0 20px 0;
    border: none;
}
.u-form-select-wrapper select[size] ~ .u-caret {
    display: none;
}
.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table;
}
.u-clearfix:after {
    clear: both;
}
.u-textlink,
.u-textlink:hover,
.u-textlink:focus,
.u-textlink:active {
    color: inherit;
}
.u-opacity-70,
.u-opacity-70:before {
    opacity: 0.7;
}
.u-opacity-65,
.u-opacity-65:before {
    opacity: 0.65;
}
.u-opacity-60,
.u-opacity-60:before {
    opacity: 0.6;
}
.u-border-none {
    border-width: 0 !important;
}
[class*="u-border-"].u-border-no-top {
    border-top-width: 0;
    border-top-style: none;
}
[class*="u-border-"].u-border-no-right {
    border-right-width: 0;
    border-right-style: none;
}
[class*="u-border-"].u-border-no-bottom {
    border-bottom-width: 0;
    border-bottom-style: none;
}
[class*="u-border-"].u-border-no-left {
    border-left-width: 0;
    border-left-style: none;
}
.u-border-color-none {
    background-color: transparent;
}
.u-text.u-indent-none {
    padding-left: 0 !important;
}
.u-sheet {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.u-sheet .u-sheet {
    width: 100%;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
.u-layout-row > .u-size-25 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .u-layout-col > * {
        flex-basis: auto !important;
    }
}
.u-layout-col,
.u-layout-row,
.u-layout-col > * {
    display: flex;
}
.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}
.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}
/*important factor to make button clickable*/
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: auto;
}
.u-block:not(:last-child).u-block-separator.u-indent-29:after {
    bottom: -14.5px;
}
.u-sidebar:first-child.u-indent-28 {
    margin-right: 28px;
}
.u-rotate-270 {
    transform: rotate(270deg) translate(-100%, 0);
}
.u-rotation-parent .u-rotate-270 {
    transform: rotate(270deg) translate(-100%, 0);
    transform-origin: left top;
}
.u-flip-horizontal.u-rotate-270 {
    transform: scaleX(-1) rotate(270deg) translate(-100%, -100%);
}
.u-flip-vertical.u-rotate-270 {
    transform: scaleY(-1) rotate(270deg);
}
.u-flip-horizontal.u-flip-vertical.u-rotate-270 {
    transform: scaleX(-1) scaleY(-1) rotate(270deg) translate(0, -100%);
}
html {
    font-size: 16px;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
.u-body h1,
.u-body h2,
.u-body h3,
.u-body h4,
.u-body h5,
.u-body h6 {
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;
}
h1 {
    font-size: 3.25rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.125rem;
}
h6 {
    font-size: 1.125rem;
}
p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}
.u-uppercase {
    text-transform: uppercase;
}
.u-align-left {
    text-align: left;
}
@media (min-width: 1200px) {
    .u-align-left-xl {
        text-align: left;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .u-align-left-lg {
        text-align: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .u-align-left-md {
        text-align: left;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .u-align-left-sm {
        text-align: left;
    }
}
@media (max-width: 575px) {
    .u-align-left-xs {
        text-align: left;
    }
}
.u-align-center {
    text-align: center;
}
@media (min-width: 1200px) {
    .u-align-center-xl {
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .u-align-center-lg {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .u-align-center-md {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .u-align-right-xl {
        text-align: right;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .u-align-right-lg {
        text-align: right;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .u-align-right-md {
        text-align: right;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .u-align-right-sm {
        text-align: right;
    }
}
@media (max-width: 575px) {
    .u-align-right-xs {
        text-align: right;
    }
}
.u-align-justify {
    text-align: justify;
}
@media (min-width: 1200px) {
    .u-align-justify-xl {
        text-align: justify;
    }
}
.u-radius-30,
.u-radius-30:before,
.u-radius-30 .u-background-effect,
.u-radius-30 > .u-container-layout {
    border-radius: 30px !important;
}
.u-radius-31,
.u-radius-31:before,
.u-radius-31 .u-background-effect,
.u-radius-31 > .u-container-layout {
    border-radius: 31px !important;
}
.u-radius-32,
.u-radius-32:before,
.u-radius-32 .u-background-effect,
.u-radius-32 > .u-container-layout {
    border-radius: 32px !important;
}
.u-radius-33,
.u-radius-33:before,
.u-radius-33 .u-background-effect,
.u-radius-33 > .u-container-layout {
    border-radius: 33px !important;
}
.u-button-style.u-grey-light-3,
.u-button-style.u-grey-light-3[class*="u-border-"] {
    color: #111111 !important;
    background-color: #f6f6f6 !important;
}
.u-button-style.u-grey-light-3:hover,
.u-button-style.u-grey-light-3[class*="u-border-"]:hover,
.u-button-style.u-grey-light-3:focus,
.u-button-style.u-grey-light-3[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-light-3:active,
.u-button-style.u-button-style.u-grey-light-3[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-light-3.active,
.u-button-style.u-button-style.u-grey-light-3[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-light-3,
li.active > .u-button-style.u-button-style.u-grey-light-3[class*="u-border-"] {
    color: #111111 !important;
    background-color: #dddddd !important;
}
.u-hover-grey-light-3:hover,
.u-hover-grey-light-3[class*="u-border-"]:hover,
.u-hover-grey-light-3:focus,
.u-hover-grey-light-3[class*="u-border-"]:focus,
.u-active-grey-light-3.u-active.u-active,
.u-active-grey-light-3[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-light-3:hover,
a.u-button-style.u-hover-grey-light-3[class*="u-border-"]:hover,
a.u-button-style.u-hover-grey-light-3:focus,
a.u-button-style.u-hover-grey-light-3[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-light-3:active,
a.u-button-style.u-button-style.u-active-grey-light-3[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-light-3.active,
a.u-button-style.u-button-style.u-active-grey-light-3[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-grey-light-3,
li.active > a.u-button-style.u-button-style.u-active-grey-light-3[class*="u-border-"] {
    color: #111111 !important;
    background-color: #f6f6f6 !important;
}
a.u-link.u-hover-grey-light-3:hover {
    color: #f6f6f6 !important;
}
.u-white,
.u-body.u-white,
.u-container-style.u-white:before,
.u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}
.u-button-style.u-white,
.u-button-style.u-white[class*="u-border-"] {
    color: #111111 !important;
    background-color: #ffffff !important;
}
.u-button-style.u-white:hover,
.u-button-style.u-white[class*="u-border-"]:hover,
.u-button-style.u-white:focus,
.u-button-style.u-white[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-white:active,
.u-button-style.u-button-style.u-white[class*="u-border-"]:active,
.u-button-style.u-button-style.u-white.active,
.u-button-style.u-button-style.u-white[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-white,
li.active > .u-button-style.u-button-style.u-white[class*="u-border-"] {
    color: #111111 !important;
    background-color: #e6e6e6 !important;
}
.u-hover-white:hover,
.u-hover-white[class*="u-border-"]:hover,
.u-hover-white:focus,
.u-hover-white[class*="u-border-"]:focus,
.u-active-white.u-active.u-active,
.u-active-white[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-white:hover,
a.u-button-style.u-hover-white[class*="u-border-"]:hover,
a.u-button-style.u-hover-white:focus,
a.u-button-style.u-hover-white[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-white:active,
a.u-button-style.u-button-style.u-active-white[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-white.active,
a.u-button-style.u-button-style.u-active-white[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-white,
li.active > a.u-button-style.u-button-style.u-active-white[class*="u-border-"] {
    color: #111111 !important;
    background-color: #ffffff !important;
}
a.u-link.u-hover-white:hover {
    color: #ffffff !important;
}
.u-black,
.u-body.u-black,
.u-container-style.u-black:before,
.u-table-alt-black tr:nth-child(even) {
    color: #ffffff;
    background-color: #000000;
}
.u-button-style.u-black,
.u-button-style.u-black[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #000000 !important;
}
.u-button-style.u-black:hover,
.u-button-style.u-black[class*="u-border-"]:hover,
.u-button-style.u-black:focus,
.u-button-style.u-black[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-black:active,
.u-button-style.u-button-style.u-black[class*="u-border-"]:active,
.u-button-style.u-button-style.u-black.active,
.u-button-style.u-button-style.u-black[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-black,
li.active > .u-button-style.u-button-style.u-black[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #000000 !important;
}
.u-hover-black:hover,
.u-hover-black[class*="u-border-"]:hover,
.u-hover-black:focus,
.u-hover-black[class*="u-border-"]:focus,
.u-active-black.u-active.u-active,
.u-active-black[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-black:hover,
a.u-button-style.u-hover-black[class*="u-border-"]:hover,
a.u-button-style.u-hover-black:focus,
a.u-button-style.u-hover-black[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-black:active,
a.u-button-style.u-button-style.u-active-black[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-black.active,
a.u-button-style.u-button-style.u-active-black[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-black,
li.active > a.u-button-style.u-button-style.u-active-black[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #000000 !important;
}
a.u-link.u-hover-black:hover {
    color: #000000 !important;
}
.u-body-color,
.u-body.u-body-color,
.u-container-style.u-body-color:before,
.u-table-alt-body-color tr:nth-child(even) {
    color: #ffffff;
    background-color: #111111;
}
.u-button-style.u-body-color,
.u-button-style.u-body-color[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #111111 !important;
}
.u-button-style.u-body-color:hover,
.u-button-style.u-body-color[class*="u-border-"]:hover,
.u-button-style.u-body-color:focus,
.u-button-style.u-body-color[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-body-color:active,
.u-button-style.u-button-style.u-body-color[class*="u-border-"]:active,
.u-button-style.u-button-style.u-body-color.active,
.u-button-style.u-button-style.u-body-color[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-body-color,
li.active > .u-button-style.u-button-style.u-body-color[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #0f0f0f !important;
}
.u-hover-body-color:hover,
.u-hover-body-color[class*="u-border-"]:hover,
.u-hover-body-color:focus,
.u-hover-body-color[class*="u-border-"]:focus,
.u-active-body-color.u-active.u-active,
.u-active-body-color[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-body-color:hover,
a.u-button-style.u-hover-body-color[class*="u-border-"]:hover,
a.u-button-style.u-hover-body-color:focus,
a.u-button-style.u-hover-body-color[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-body-color:active,
a.u-button-style.u-button-style.u-active-body-color[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-body-color.active,
a.u-button-style.u-button-style.u-active-body-color[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-body-color,
li.active > a.u-button-style.u-button-style.u-active-body-color[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #111111 !important;
}
a.u-link.u-hover-body-color:hover {
    color: #111111 !important;
}
a.u-link.u-hover-grey-60:hover {
    color: #666666 !important;
}
.u-grey-70,
.u-body.u-grey-70,
.u-container-style.u-grey-70:before,
.u-table-alt-grey-70 tr:nth-child(even) {
    color: #ffffff;
    background-color: #4d4d4d;
}
.u-button-style.u-grey-70,
.u-button-style.u-grey-70[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #4d4d4d !important;
}
.u-button-style.u-grey-70:hover,
.u-button-style.u-grey-70[class*="u-border-"]:hover,
.u-button-style.u-grey-70:focus,
.u-button-style.u-grey-70[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-70:active,
.u-button-style.u-button-style.u-grey-70[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-70.active,
.u-button-style.u-button-style.u-grey-70[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-70,
li.active > .u-button-style.u-button-style.u-grey-70[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #454545 !important;
}
a.u-link.u-hover-grey-70:hover {
    color: #4d4d4d !important;
}
.u-grey-75,
.u-body.u-grey-75,
.u-container-style.u-grey-75:before,
.u-table-alt-grey-75 tr:nth-child(even) {
    color: #ffffff;
    background-color: #404040;
}
.u-button-style.u-grey-75,
.u-button-style.u-grey-75[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #404040 !important;
}
.u-button-style.u-grey-75:hover,
.u-button-style.u-grey-75[class*="u-border-"]:hover,
.u-button-style.u-grey-75:focus,
.u-button-style.u-grey-75[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-75:active,
.u-button-style.u-button-style.u-grey-75[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-75.active,
.u-button-style.u-button-style.u-grey-75[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-75,
li.active > .u-button-style.u-button-style.u-grey-75[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #3a3a3a !important;
}
.u-hover-grey-75:hover,
.u-hover-grey-75[class*="u-border-"]:hover,
.u-hover-grey-75:focus,
.u-hover-grey-75[class*="u-border-"]:focus,
.u-active-grey-75.u-active.u-active,
.u-active-grey-75[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-75:hover,
a.u-button-style.u-hover-grey-75[class*="u-border-"]:hover,
a.u-button-style.u-hover-grey-75:focus,
a.u-button-style.u-hover-grey-75[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-75:active,
a.u-button-style.u-button-style.u-active-grey-75[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-75.active,
a.u-button-style.u-button-style.u-active-grey-75[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-grey-75,
li.active > a.u-button-style.u-button-style.u-active-grey-75[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #404040 !important;
}
a.u-link.u-hover-grey-75:hover {
    color: #404040 !important;
}
.u-grey-80,
.u-body.u-grey-80,
.u-container-style.u-grey-80:before,
.u-table-alt-grey-80 tr:nth-child(even) {
    color: #ffffff;
    background-color: #333333;
}
.u-button-style.u-grey-80,
.u-button-style.u-grey-80[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #333333 !important;
}
.u-button-style.u-grey-80:hover,
.u-button-style.u-grey-80[class*="u-border-"]:hover,
.u-button-style.u-grey-80:focus,
.u-button-style.u-grey-80[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-80:active,
.u-button-style.u-button-style.u-grey-80[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-80.active,
.u-button-style.u-button-style.u-grey-80[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-80,
li.active > .u-button-style.u-button-style.u-grey-80[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #2e2e2e !important;
}
.u-hover-grey-80:hover,
.u-hover-grey-80[class*="u-border-"]:hover,
.u-hover-grey-80:focus,
.u-hover-grey-80[class*="u-border-"]:focus,
.u-active-grey-80.u-active.u-active,
.u-active-grey-80[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-80:hover,
a.u-button-style.u-hover-grey-80[class*="u-border-"]:hover,
a.u-button-style.u-hover-grey-80:focus,
a.u-button-style.u-hover-grey-80[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-80:active,
a.u-button-style.u-button-style.u-active-grey-80[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-80.active,
a.u-button-style.u-button-style.u-active-grey-80[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-grey-80,
li.active > a.u-button-style.u-button-style.u-active-grey-80[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #333333 !important;
}
a.u-link.u-hover-grey-80:hover {
    color: #333333 !important;
}
.u-grey-90,
.u-body.u-grey-90,
.u-container-style.u-grey-90:before,
.u-table-alt-grey-90 tr:nth-child(even) {
    color: #ffffff;
    background-color: #1a1a1a;
}
.u-button-style.u-grey-90,
.u-button-style.u-grey-90[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #1a1a1a !important;
}
.u-button-style.u-grey-90:hover,
.u-button-style.u-grey-90[class*="u-border-"]:hover,
.u-button-style.u-grey-90:focus,
.u-button-style.u-grey-90[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-90:active,
.u-button-style.u-button-style.u-grey-90[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-90.active,
.u-button-style.u-button-style.u-grey-90[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-90,
li.active > .u-button-style.u-button-style.u-grey-90[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #171717 !important;
}
.u-hover-grey-90:hover,
.u-hover-grey-90[class*="u-border-"]:hover,
.u-hover-grey-90:focus,
.u-hover-grey-90[class*="u-border-"]:focus,
.u-active-grey-90.u-active.u-active,
.u-active-grey-90[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-90:hover,
a.u-button-style.u-hover-grey-90[class*="u-border-"]:hover,
a.u-button-style.u-hover-grey-90:focus,
a.u-button-style.u-hover-grey-90[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-90:active,
a.u-button-style.u-button-style.u-active-grey-90[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-90.active,
a.u-button-style.u-button-style.u-active-grey-90[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-grey-90,
li.active > a.u-button-style.u-button-style.u-active-grey-90[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #1a1a1a !important;
}
a.u-link.u-hover-grey-90:hover {
    color: #1a1a1a !important;
}
.u-border-color-1-dark-3,
.u-separator-color-1-dark-3:after {
    border-color: #292933;
    stroke: #292933;
}
.u-button-style.u-border-color-1-dark-3 {
    border-color: #292933 !important;
    color: #292933 !important;
    background-color: transparent !important;
}
.u-button-style.u-border-color-1-dark-3:hover,
.u-button-style.u-border-color-1-dark-3:focus {
    border-color: #25252e !important;
    color: #25252e !important;
    background-color: transparent !important;
}
a.u-button-style.u-text-grey-80:hover,
a.u-button-style.u-text-grey-80[class*="u-border-"]:hover,
a.u-button-style.u-text-grey-80:focus,
a.u-button-style.u-text-grey-80[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-grey-80:active,
a.u-button-style.u-button-style.u-text-grey-80[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-grey-80.active,
a.u-button-style.u-button-style.u-text-grey-80[class*="u-border-"].active {
    color: #2e2e2e !important;
}
a.u-button-style.u-button-style.u-text-hover-grey-80:hover,
a.u-button-style.u-button-style.u-text-hover-grey-80[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-grey-80:focus,
a.u-button-style.u-button-style.u-text-hover-grey-80[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-80:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-80[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-80.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-80[class*="u-border-"].active,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-grey-80:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-grey-80.active,
.u-popupmenu-items.u-text-hover-grey-80 .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-grey-80 .u-nav-link.active {
    color: #333333 !important;
}
.u-text-grey-80 svg,
.u-text-hover-grey-80:hover svg,
.u-text-hover-grey-80:focus svg {
    fill: #333333;
}
.u-link.u-text-grey-80:hover {
    color: #2e2e2e !important;
}
a.u-link.u-text-hover-grey-80:hover {
    color: #333333 !important;
}
.u-text-grey-90,
a.u-button-style.u-text-grey-90,
a.u-button-style.u-text-grey-90[class*="u-border-"] {
    color: #1a1a1a !important;
}
a.u-button-style.u-text-grey-90:hover,
a.u-button-style.u-text-grey-90[class*="u-border-"]:hover,
a.u-button-style.u-text-grey-90:focus,
a.u-button-style.u-text-grey-90[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-grey-90:active,
a.u-button-style.u-button-style.u-text-grey-90[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-grey-90.active,
a.u-button-style.u-button-style.u-text-grey-90[class*="u-border-"].active {
    color: #171717 !important;
}
a.u-button-style.u-button-style.u-text-hover-grey-90:hover,
a.u-button-style.u-button-style.u-text-hover-grey-90[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-grey-90:focus,
a.u-button-style.u-button-style.u-text-hover-grey-90[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90[class*="u-border-"].active,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-grey-90:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-grey-90.active,
.u-popupmenu-items.u-text-hover-grey-90 .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-grey-90 .u-nav-link.active {
    color: #1a1a1a !important;
}
.u-text-grey-90 svg,
.u-text-hover-grey-90:hover svg,
.u-text-hover-grey-90:focus svg {
    fill: #1a1a1a;
}
.u-link.u-text-grey-90:hover {
    color: #171717 !important;
}
a.u-link.u-text-hover-grey-90:hover {
    color: #1a1a1a !important;
}
/*end-variables colors*/

/*begin-variables sitestylecss*/

.u-custom-color-1,
.u-body.u-custom-color-1,
.u-container-style.u-custom-color-1:before,
.u-table-alt-custom-color-1 tr:nth-child(even)
{
    color: #111111;
    background-color: #fffcf2;
}

.u-button-style.u-custom-color-1,
.u-button-style.u-custom-color-1[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fffcf2 !important;
}

.u-button-style.u-custom-color-1:hover,
.u-button-style.u-custom-color-1[class*="u-border-"]:hover,
.u-button-style.u-custom-color-1:focus,
.u-button-style.u-custom-color-1[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-1:active,
.u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-1.active,
.u-button-style.u-button-style.u-custom-color-1[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-1,
li.active > .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fff1c0 !important;
}
.u-hover-custom-color-1:hover,
.u-hover-custom-color-1[class*="u-border-"]:hover,
.u-hover-custom-color-1:focus,
.u-hover-custom-color-1[class*="u-border-"]:focus,
.u-active-custom-color-1.u-active.u-active,
.u-active-custom-color-1[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-1:hover,
a.u-button-style.u-hover-custom-color-1[class*="u-border-"]:hover,
a.u-button-style.u-hover-custom-color-1:focus,
a.u-button-style.u-hover-custom-color-1[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-1:active,
a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-1.active,
a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-custom-color-1,
li.active > a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fffcf2 !important;
}

a.u-link.u-hover-custom-color-1:hover {
    color: #fffcf2 !important;
}



.u-custom-color-2,
.u-body.u-custom-color-2,
.u-container-style.u-custom-color-2:before,
.u-table-alt-custom-color-2 tr:nth-child(even)
{
    color: #ffffff;
    background-color: #bab1a0;
}
.u-custom-color-3,
.u-body.u-custom-color-3,
.u-container-style.u-custom-color-3:before,
.u-table-alt-custom-color-3 tr:nth-child(even)
{
    color: #ffffff;
    background-color: #eb5e28;
}

.u-button-style.u-custom-color-3,
.u-button-style.u-custom-color-3[class*="u-border-"]
{
    color: #ffffff !important;
    background-color: #eb5e28 !important;
}
.u-section-1 .u-form-1 {
    width: 570px;
    margin: 30px auto 60px;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    background-image: none;
}

@media (max-width: 767px) {
    .u-section-1 .u-text-1 {
        margin-left: 47px;
        margin-right: 47px;
        width: 540px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
        width: 540px;
    }

    .u-section-1 .u-form-1 {
        width: 540px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
        width: 340px;
    }

    .u-section-1 .u-text-2 {
        width: 340px;
    }

    .u-section-1 .u-form-1 {
        width: 340px;
    }

    .u-section-1 .u-form-group-1 {
        width: 100%;
    }

    .u-section-1 .u-form-group-2 {
        width: 100%;
    }
}.u-section-2 {
     background-image: none;
 }

.u-section-2 .u-sheet-1 {
    min-height: 846px;
}

.u-section-2 .u-shape-1 {
    height: 403px;
    width: 1014px;
    margin: 60px auto 0 0;
}

.u-section-2 .u-shape-2 {
    width: 757px;
    height: 452px;
    margin: -171px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
    width: 1018px;
    margin: -614px auto 131px;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 586px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-image-1 {
    width: 322px;
    height: 127px;
    margin: 176px auto 0 -30px;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 585px;
    background-image: none;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 0;
}

.u-section-2 .u-group-1 {
    min-height: 557px;
    width: 534px;
    background-image: none;
    margin: -30px auto -1px 0;
}

.u-section-2 .u-container-layout-3 {
    padding: 40px 60px;
}

.u-section-2 .u-text-1 {
    font-weight: 400;
    text-transform: none;
    font-size: 3rem;
    margin: 64px 0 0;
}

.u-section-2 .u-form-1 {
    height: 248px;
    margin: 27px 0 0;
}

.u-section-2 .u-form-group-1 {
    margin-left: auto;
}

.u-section-2 .u-input-1 {
    font-size: 1.25rem;
}

.u-section-2 .u-form-group-2 {
    margin-left: auto;
}

.u-section-2 .u-input-2 {
    font-size: 1.25rem;
}

.u-section-2 .u-form-group-3 {
    margin-left: auto;
}

.u-section-2 .u-input-3 {
    font-size: 1.25rem;
}

.u-section-2 .u-form-group-4 {
    margin-left: auto;
}
.u-section-2 .u-btn-1 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
}
.u-section-2 .u-line-1 {
    height: 6px;
    transform-origin: left center 0;
    width: 155px;
    margin: 31px auto 0 0;
}
.u-section-2 .u-text-2 {
    text-transform: none;
    letter-spacing: normal;
    width: 103px;
    margin: -14px auto 0;
}
.u-section-2 .u-line-2 {
    height: 6px;
    transform-origin: left center 0;
    width: 155px;
    margin: -14px 0 0 auto;
}
.u-section-2 .u-form-2 {
    height: 52px;
    width: 381px;
    margin: 30px auto 0;
}
.u-section-2 .u-form-group-5 {
    margin-left: auto;
}
.u-section-2 .u-btn-2 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
}
.u-block-2620-55 {
    margin-left: auto;
}
#change-pw {
    width: 90%;
}
#join-us-for-free {
    width: 80%;
}