.u-effect-zoom-rotateY:hover .u-over-slide,
.u-effect-zoom-rotateY.u-effect-active .u-over-slide {
    transform: rotateY(360deg) scale(1, 1);
}
.u-btn {
    /*display: inline-block; position of edit button*/
    display: table;
    /*TODO maye need another solution for negative marin*/
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}
.u-btn:active,
.u-btn.active {
    outline: 0;
    background-image: none;
}
.u-btn.disabled,
.u-btn[disabled] {
    opacity: 0.6;
}
.u-btn-circle {
    border-radius: 50%;
}
.u-btn-round {
    border-radius: 4px;
}
.u-btn-rectangle {
    border-radius: 0 !important;
}
.u-text a,
.u-post-content a,
.u-tab-item a,
.u-nav-item a {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a {
    color: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a,
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a:hover {
    text-decoration: none;
}
.u-link,
a {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
.u-link {
    display: table;
    border-style: solid;
    border-bottom-width: 0;
    white-space: nowrap;
    align-self: flex-start;
}
.u-link,
.u-link:hover,
.u-link:focus {
    text-decoration: none;
}
.u-no-underline,
.u-no-underline:hover {
    text-decoration: none;
    border-bottom-width: 0;
}
.u-block-content > :first-child,
.u-product-desc > :first-child,
.u-product-tab-pane > :first-child,
.u-post-content > :first-child {
    margin-top: 0;
}
.u-block-content > :last-child,
.u-product-desc > :last-child,
.u-product-tab-pane > :last-child,
.u-post-content > :last-child {
    margin-bottom: 0;
}
.u-block-content p,
.u-product-desc p,
.u-product-tab-pane p,
.u-post-content p {
    text-decoration: inherit !important;
    color: inherit !important;
    font-style: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
    letter-spacing: inherit !important;
    text-transform: inherit !important;
}
.u-logo {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
}
.u-image.u-logo {
    display: table;
    white-space: nowrap;
}
.u-image.u-logo img {
    display: block;
}
.u-form-horizontal {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-grow: 1;
}
.u-input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: transparent;
    color: inherit;
    height: auto;
}
.u-form-horizontal label,
.u-form-horizontal input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    flex-grow: 1;
}
.u-form-vertical {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.u-form-vertical.u-form-spacing-50 {
    margin-left: -50px;
    width: calc(100% +  50px);
}
.u-form-vertical.u-form-spacing-50 .u-form-group {
    margin-bottom: 50px;
    padding-left: 50px;
}
.u-form-vertical.u-form-spacing-49 {
    margin-left: -49px;
    width: calc(100% +  49px);
}
.u-form-vertical.u-form-spacing-49 .u-form-group {
    margin-bottom: 49px;
    padding-left: 49px;
}
.u-form-vertical.u-form-spacing-48 {
    margin-left: -48px;
    width: calc(100% +  48px);
}
.u-form-vertical.u-form-spacing-48 .u-form-group {
    margin-bottom: 48px;
    padding-left: 48px;
}
.u-form-vertical.u-form-spacing-47 {
    margin-left: -47px;
    width: calc(100% +  47px);
}
.u-form-vertical.u-form-spacing-47 .u-form-group {
    margin-bottom: 47px;
    padding-left: 47px;
}
.u-form-vertical.u-form-spacing-46 {
    margin-left: -46px;
    width: calc(100% +  46px);
}
.u-form-vertical.u-form-spacing-46 .u-form-group {
    margin-bottom: 46px;
    padding-left: 46px;
}
.u-form-vertical.u-form-spacing-45 {
    margin-left: -45px;
    width: calc(100% +  45px);
}
.u-form-vertical.u-form-spacing-45 .u-form-group {
    margin-bottom: 45px;
    padding-left: 45px;
}
.u-form-vertical.u-form-spacing-44 {
    margin-left: -44px;
    width: calc(100% +  44px);
}
.u-form-vertical.u-form-spacing-44 .u-form-group {
    margin-bottom: 44px;
    padding-left: 44px;
}
.u-form-vertical.u-form-spacing-43 {
    margin-left: -43px;
    width: calc(100% +  43px);
}
.u-form-vertical.u-form-spacing-43 .u-form-group {
    margin-bottom: 43px;
    padding-left: 43px;
}
.u-form-vertical.u-form-spacing-42 {
    margin-left: -42px;
    width: calc(100% +  42px);
}
.u-form-vertical.u-form-spacing-42 .u-form-group {
    margin-bottom: 42px;
    padding-left: 42px;
}
.u-form-vertical.u-form-spacing-41 {
    margin-left: -41px;
    width: calc(100% +  41px);
}
.u-form-vertical.u-form-spacing-41 .u-form-group {
    margin-bottom: 41px;
    padding-left: 41px;
}
.u-form-vertical.u-form-spacing-40 {
    margin-left: -40px;
    width: calc(100% +  40px);
}
.u-form-vertical.u-form-spacing-40 .u-form-group {
    margin-bottom: 40px;
    padding-left: 40px;
}
.u-form-vertical.u-form-spacing-39 {
    margin-left: -39px;
    width: calc(100% +  39px);
}
.u-form-vertical.u-form-spacing-39 .u-form-group {
    margin-bottom: 39px;
    padding-left: 39px;
}
.u-form-vertical.u-form-spacing-38 {
    margin-left: -38px;
    width: calc(100% +  38px);
}
.u-form-vertical.u-form-spacing-38 .u-form-group {
    margin-bottom: 38px;
    padding-left: 38px;
}
.u-form-vertical.u-form-spacing-37 {
    margin-left: -37px;
    width: calc(100% +  37px);
}
.u-form-vertical.u-form-spacing-37 .u-form-group {
    margin-bottom: 37px;
    padding-left: 37px;
}
.u-form-vertical.u-form-spacing-36 {
    margin-left: -36px;
    width: calc(100% +  36px);
}
.u-form-vertical.u-form-spacing-36 .u-form-group {
    margin-bottom: 36px;
    padding-left: 36px;
}
.u-form-vertical.u-form-spacing-35 {
    margin-left: -35px;
    width: calc(100% +  35px);
}
.u-form-vertical.u-form-spacing-35 .u-form-group {
    margin-bottom: 35px;
    padding-left: 35px;
}
.u-form-vertical.u-form-spacing-34 {
    margin-left: -34px;
    width: calc(100% +  34px);
}
.u-form-vertical.u-form-spacing-34 .u-form-group {
    margin-bottom: 34px;
    padding-left: 34px;
}
.u-form-vertical.u-form-spacing-33 {
    margin-left: -33px;
    width: calc(100% +  33px);
}
.u-form-vertical.u-form-spacing-33 .u-form-group {
    margin-bottom: 33px;
    padding-left: 33px;
}
.u-form-vertical.u-form-spacing-32 {
    margin-left: -32px;
    width: calc(100% +  32px);
}
.u-form-vertical.u-form-spacing-32 .u-form-group {
    margin-bottom: 32px;
    padding-left: 32px;
}
.u-form-vertical.u-form-spacing-31 {
    margin-left: -31px;
    width: calc(100% +  31px);
}
.u-form-vertical.u-form-spacing-31 .u-form-group {
    margin-bottom: 31px;
    padding-left: 31px;
}
.u-form-vertical.u-form-spacing-30 {
    margin-left: -30px;
    width: calc(100% +  30px);
}
.u-form-vertical.u-form-spacing-30 .u-form-group {
    margin-bottom: 30px;
    padding-left: 30px;
}
.u-form-vertical.u-form-spacing-29 {
    margin-left: -29px;
    width: calc(100% +  29px);
}
.u-form-vertical.u-form-spacing-29 .u-form-group {
    margin-bottom: 29px;
    padding-left: 29px;
}
.u-form-vertical.u-form-spacing-28 {
    margin-left: -28px;
    width: calc(100% +  28px);
}
.u-form-vertical.u-form-spacing-28 .u-form-group {
    margin-bottom: 28px;
    padding-left: 28px;
}
.u-form-vertical.u-form-spacing-27 {
    margin-left: -27px;
    width: calc(100% +  27px);
}
.u-form-vertical.u-form-spacing-27 .u-form-group {
    margin-bottom: 27px;
    padding-left: 27px;
}
.u-form-vertical.u-form-spacing-26 {
    margin-left: -26px;
    width: calc(100% +  26px);
}
.u-form-vertical.u-form-spacing-26 .u-form-group {
    margin-bottom: 26px;
    padding-left: 26px;
}
.u-form-vertical.u-form-spacing-25 {
    margin-left: -25px;
    width: calc(100% +  25px);
}
.u-form-vertical.u-form-spacing-25 .u-form-group {
    margin-bottom: 25px;
    padding-left: 25px;
}
.u-form-vertical.u-form-spacing-24 {
    margin-left: -24px;
    width: calc(100% +  24px);
}
.u-form-vertical.u-form-spacing-24 .u-form-group {
    margin-bottom: 24px;
    padding-left: 24px;
}
.u-form-vertical.u-form-spacing-23 {
    margin-left: -23px;
    width: calc(100% +  23px);
}
.u-form-vertical.u-form-spacing-23 .u-form-group {
    margin-bottom: 23px;
    padding-left: 23px;
}
.u-form-vertical.u-form-spacing-22 {
    margin-left: -22px;
    width: calc(100% +  22px);
}
.u-form-vertical.u-form-spacing-22 .u-form-group {
    margin-bottom: 22px;
    padding-left: 22px;
}
.u-form-vertical.u-form-spacing-21 {
    margin-left: -21px;
    width: calc(100% +  21px);
}
.u-form-vertical.u-form-spacing-21 .u-form-group {
    margin-bottom: 21px;
    padding-left: 21px;
}
.u-form-vertical.u-form-spacing-20 {
    margin-left: -20px;
    width: calc(100% +  20px);
}
.u-form-vertical.u-form-spacing-20 .u-form-group {
    margin-bottom: 20px;
    padding-left: 20px;
}
.u-form-vertical.u-form-spacing-19 {
    margin-left: -19px;
    width: calc(100% +  19px);
}
.u-form-vertical.u-form-spacing-19 .u-form-group {
    margin-bottom: 19px;
    padding-left: 19px;
}
.u-form-vertical.u-form-spacing-18 {
    margin-left: -18px;
    width: calc(100% +  18px);
}
.u-form-vertical.u-form-spacing-18 .u-form-group {
    margin-bottom: 18px;
    padding-left: 18px;
}
.u-form-vertical.u-form-spacing-17 {
    margin-left: -17px;
    width: calc(100% +  17px);
}
.u-form-vertical.u-form-spacing-17 .u-form-group {
    margin-bottom: 17px;
    padding-left: 17px;
}
.u-form-vertical.u-form-spacing-16 {
    margin-left: -16px;
    width: calc(100% +  16px);
}
.u-form-vertical.u-form-spacing-16 .u-form-group {
    margin-bottom: 16px;
    padding-left: 16px;
}
/* ********  spacing ******** */
.u-text.u-indent-51,
.u-text.u-indent-51 ul,
.u-text.u-indent-51 ol {
    padding-left: 71px;
}
.u-spacing-51.u-price-wrapper > div + div,
.u-spacing-51 .u-social-url + .u-social-url {
    margin-left: 51px;
}
.u-spacing-51.u-icon,
.u-spacing-51.u-search-icon,
.u-spacing-51.u-gallery-nav,
.u-spacing-51.u-carousel-control {
    padding: 51px;
}
blockquote.u-text.u-indent-51 {
    padding-left: 51px;
}
.u-text.u-spacing-50 li {
    margin-bottom: 50px;
}
.u-text.u-indent-50,
.u-text.u-indent-50 ul,
.u-text.u-indent-50 ol {
    padding-left: 70px;
}
.u-spacing-50.u-price-wrapper > div + div,
.u-spacing-50 .u-social-url + .u-social-url {
    margin-left: 50px;
}
.u-spacing-50.u-icon,
.u-spacing-50.u-search-icon,
.u-spacing-50.u-gallery-nav,
.u-spacing-50.u-carousel-control {
    padding: 50px;
}
blockquote.u-text.u-indent-50 {
    padding-left: 50px;
}
.u-text.u-spacing-49 li {
    margin-bottom: 49px;
}
.u-text.u-indent-49,
.u-text.u-indent-49 ul,
.u-text.u-indent-49 ol {
    padding-left: 69px;
}
.u-spacing-49.u-price-wrapper > div + div,
.u-spacing-49 .u-social-url + .u-social-url {
    margin-left: 49px;
}
.u-spacing-49.u-icon,
.u-spacing-49.u-search-icon,
.u-spacing-49.u-gallery-nav,
.u-spacing-49.u-carousel-control {
    padding: 49px;
}
blockquote.u-text.u-indent-49 {
    padding-left: 49px;
}
.u-text.u-spacing-48 li {
    margin-bottom: 48px;
}
.u-text.u-indent-48,
.u-text.u-indent-48 ul,
.u-text.u-indent-48 ol {
    padding-left: 68px;
}
.u-spacing-48.u-price-wrapper > div + div,
.u-spacing-48 .u-social-url + .u-social-url {
    margin-left: 48px;
}
.u-spacing-48.u-icon,
.u-spacing-48.u-search-icon,
.u-spacing-48.u-gallery-nav,
.u-spacing-48.u-carousel-control {
    padding: 48px;
}
blockquote.u-text.u-indent-48 {
    padding-left: 48px;
}
.u-text.u-spacing-47 li {
    margin-bottom: 47px;
}
.u-text.u-indent-47,
.u-text.u-indent-47 ul,
.u-text.u-indent-47 ol {
    padding-left: 67px;
}
.u-spacing-47.u-price-wrapper > div + div,
.u-spacing-47 .u-social-url + .u-social-url {
    margin-left: 47px;
}
.u-spacing-47.u-icon,
.u-spacing-47.u-search-icon,
.u-spacing-47.u-gallery-nav,
.u-spacing-47.u-carousel-control {
    padding: 47px;
}
blockquote.u-text.u-indent-47 {
    padding-left: 47px;
}
.u-text.u-spacing-46 li {
    margin-bottom: 46px;
}
.u-text.u-indent-46,
.u-text.u-indent-46 ul,
.u-text.u-indent-46 ol {
    padding-left: 66px;
}
.u-spacing-46.u-price-wrapper > div + div,
.u-spacing-46 .u-social-url + .u-social-url {
    margin-left: 46px;
}
.u-spacing-46.u-icon,
.u-spacing-46.u-search-icon,
.u-spacing-46.u-gallery-nav,
.u-spacing-46.u-carousel-control {
    padding: 46px;
}
blockquote.u-text.u-indent-46 {
    padding-left: 46px;
}
.u-text.u-spacing-45 li {
    margin-bottom: 45px;
}
.u-text.u-indent-45,
.u-text.u-indent-45 ul,
.u-text.u-indent-45 ol {
    padding-left: 65px;
}
.u-spacing-45.u-price-wrapper > div + div,
.u-spacing-45 .u-social-url + .u-social-url {
    margin-left: 45px;
}
.u-spacing-45.u-icon,
.u-spacing-45.u-search-icon,
.u-spacing-45.u-gallery-nav,
.u-spacing-45.u-carousel-control {
    padding: 45px;
}
blockquote.u-text.u-indent-45 {
    padding-left: 45px;
}
.u-text.u-spacing-44 li {
    margin-bottom: 44px;
}
.u-text.u-indent-44,
.u-text.u-indent-44 ul,
.u-text.u-indent-44 ol {
    padding-left: 64px;
}
.u-spacing-44.u-price-wrapper > div + div,
.u-spacing-44 .u-social-url + .u-social-url {
    margin-left: 44px;
}
.u-spacing-44.u-icon,
.u-spacing-44.u-search-icon,
.u-spacing-44.u-gallery-nav,
.u-spacing-44.u-carousel-control {
    padding: 44px;
}
blockquote.u-text.u-indent-44 {
    padding-left: 44px;
}
.u-text.u-spacing-43 li {
    margin-bottom: 43px;
}
.u-text.u-indent-43,
.u-text.u-indent-43 ul,
.u-text.u-indent-43 ol {
    padding-left: 63px;
}
.u-spacing-43.u-price-wrapper > div + div,
.u-spacing-43 .u-social-url + .u-social-url {
    margin-left: 43px;
}
.u-spacing-43.u-icon,
.u-spacing-43.u-search-icon,
.u-spacing-43.u-gallery-nav,
.u-spacing-43.u-carousel-control {
    padding: 43px;
}
blockquote.u-text.u-indent-43 {
    padding-left: 43px;
}
.u-text.u-spacing-42 li {
    margin-bottom: 42px;
}
.u-text.u-indent-42,
.u-text.u-indent-42 ul,
.u-text.u-indent-42 ol {
    padding-left: 62px;
}
.u-spacing-42.u-price-wrapper > div + div,
.u-spacing-42 .u-social-url + .u-social-url {
    margin-left: 42px;
}
.u-spacing-42.u-icon,
.u-spacing-42.u-search-icon,
.u-spacing-42.u-gallery-nav,
.u-spacing-42.u-carousel-control {
    padding: 42px;
}
blockquote.u-text.u-indent-42 {
    padding-left: 42px;
}
.u-text.u-spacing-41 li {
    margin-bottom: 41px;
}
.u-text.u-indent-41,
.u-text.u-indent-41 ul,
.u-text.u-indent-41 ol {
    padding-left: 61px;
}
.u-spacing-41.u-price-wrapper > div + div,
.u-spacing-41 .u-social-url + .u-social-url {
    margin-left: 41px;
}
.u-spacing-41.u-icon,
.u-spacing-41.u-search-icon,
.u-spacing-41.u-gallery-nav,
.u-spacing-41.u-carousel-control {
    padding: 41px;
}
blockquote.u-text.u-indent-41 {
    padding-left: 41px;
}
.u-text.u-spacing-40 li {
    margin-bottom: 40px;
}
.u-text.u-indent-40,
.u-text.u-indent-40 ul,
.u-text.u-indent-40 ol {
    padding-left: 60px;
}
.u-spacing-40.u-price-wrapper > div + div,
.u-spacing-40 .u-social-url + .u-social-url {
    margin-left: 40px;
}
.u-spacing-40.u-icon,
.u-spacing-40.u-search-icon,
.u-spacing-40.u-gallery-nav,
.u-spacing-40.u-carousel-control {
    padding: 40px;
}
blockquote.u-text.u-indent-40 {
    padding-left: 40px;
}
.u-text.u-spacing-39 li {
    margin-bottom: 39px;
}
blockquote.u-text.u-indent-39 {
    padding-left: 39px;
}
.u-text.u-spacing-38 li {
    margin-bottom: 38px;
}
.u-text.u-indent-38,
.u-text.u-indent-38 ul,
.u-text.u-indent-38 ol {
    padding-left: 58px;
}
.u-spacing-38.u-price-wrapper > div + div,
.u-spacing-38 .u-social-url + .u-social-url {
    margin-left: 38px;
}
blockquote.u-text.u-indent-28 {
    padding-left: 28px;
}
.u-text.u-spacing-27 li {
    margin-bottom: 27px;
}
.u-text.u-indent-27,
.u-text.u-indent-27 ul,
.u-text.u-indent-27 ol {
    padding-left: 47px;
}
.u-spacing-27.u-price-wrapper > div + div,
.u-spacing-27 .u-social-url + .u-social-url {
    margin-left: 27px;
}
.u-spacing-27.u-icon,
.u-spacing-27.u-search-icon,
.u-spacing-27.u-gallery-nav,
.u-spacing-27.u-carousel-control {
    padding: 27px;
}
blockquote.u-text.u-indent-27 {
    padding-left: 27px;
}
.u-text.u-spacing-26 li {
    margin-bottom: 26px;
}
.u-text.u-indent-26,
.u-text.u-indent-26 ul,
.u-text.u-indent-26 ol {
    padding-left: 46px;
}
.u-spacing-26.u-price-wrapper > div + div,
.u-spacing-26 .u-social-url + .u-social-url {
    margin-left: 26px;
}
.u-spacing-26.u-icon,
.u-spacing-26.u-search-icon,
.u-spacing-26.u-gallery-nav,
.u-spacing-26.u-carousel-control {
    padding: 26px;
}
blockquote.u-text.u-indent-26 {
    padding-left: 26px;
}
.u-text.u-spacing-25 li {
    margin-bottom: 25px;
}
.u-text.u-indent-25,
.u-text.u-indent-25 ul,
.u-text.u-indent-25 ol {
    padding-left: 45px;
}
.u-spacing-25.u-price-wrapper > div + div,
.u-spacing-25 .u-social-url + .u-social-url {
    margin-left: 25px;
}
.u-spacing-25.u-icon,
.u-spacing-25.u-search-icon,
.u-spacing-25.u-gallery-nav,
.u-spacing-25.u-carousel-control {
    padding: 25px;
}
blockquote.u-text.u-indent-25 {
    padding-left: 25px;
}
.u-text.u-spacing-24 li {
    margin-bottom: 24px;
}
.u-text.u-indent-24,
.u-text.u-indent-24 ul,
.u-text.u-indent-24 ol {
    padding-left: 44px;
}
.u-spacing-24.u-price-wrapper > div + div,
.u-spacing-24 .u-social-url + .u-social-url {
    margin-left: 24px;
}
.u-spacing-24.u-icon,
.u-spacing-24.u-search-icon,
.u-spacing-24.u-gallery-nav,
.u-spacing-24.u-carousel-control {
    padding: 24px;
}
blockquote.u-text.u-indent-24 {
    padding-left: 24px;
}
.u-text.u-spacing-23 li {
    margin-bottom: 23px;
}
.u-text.u-indent-23,
.u-text.u-indent-23 ul,
.u-text.u-indent-23 ol {
    padding-left: 43px;
}
.u-spacing-23.u-price-wrapper > div + div,
.u-spacing-23 .u-social-url + .u-social-url {
    margin-left: 23px;
}
.u-spacing-23.u-icon,
.u-spacing-23.u-search-icon,
.u-spacing-23.u-gallery-nav,
.u-spacing-23.u-carousel-control {
    padding: 23px;
}
blockquote.u-text.u-indent-23 {
    padding-left: 23px;
}
.u-text.u-spacing-22 li {
    margin-bottom: 22px;
}
.u-text.u-indent-22,
.u-text.u-indent-22 ul,
.u-text.u-indent-22 ol {
    padding-left: 42px;
}
.u-spacing-22.u-price-wrapper > div + div,
.u-spacing-22 .u-social-url + .u-social-url {
    margin-left: 22px;
}
.u-spacing-22.u-icon,
.u-spacing-22.u-search-icon,
.u-spacing-22.u-gallery-nav,
.u-spacing-22.u-carousel-control {
    padding: 22px;
}
blockquote.u-text.u-indent-22 {
    padding-left: 22px;
}
.u-text.u-spacing-21 li {
    margin-bottom: 21px;
}
.u-text.u-indent-21,
.u-text.u-indent-21 ul,
.u-text.u-indent-21 ol {
    padding-left: 41px;
}
.u-spacing-21.u-price-wrapper > div + div,
.u-spacing-21 .u-social-url + .u-social-url {
    margin-left: 21px;
}
.u-spacing-21.u-icon,
.u-spacing-21.u-search-icon,
.u-spacing-21.u-gallery-nav,
.u-spacing-21.u-carousel-control {
    padding: 21px;
}
blockquote.u-text.u-indent-21 {
    padding-left: 21px;
}
.u-text.u-spacing-20 li {
    margin-bottom: 20px;
}
.u-text.u-indent-20,
.u-text.u-indent-20 ul,
.u-text.u-indent-20 ol {
    padding-left: 40px;
}
.u-spacing-20.u-price-wrapper > div + div,
.u-spacing-20 .u-social-url + .u-social-url {
    margin-left: 20px;
}
.u-spacing-20.u-icon,
.u-spacing-20.u-search-icon,
.u-spacing-20.u-gallery-nav,
.u-spacing-20.u-carousel-control {
    padding: 20px;
}
blockquote.u-text.u-indent-20 {
    padding-left: 20px;
}
.u-text.u-spacing-19 li {
    margin-bottom: 19px;
}
.u-text.u-indent-19,
.u-text.u-indent-19 ul,
.u-text.u-indent-19 ol {
    padding-left: 39px;
}
.u-spacing-19.u-price-wrapper > div + div,
.u-spacing-19 .u-social-url + .u-social-url {
    margin-left: 19px;
}
.u-spacing-19.u-icon,
.u-spacing-19.u-search-icon,
.u-spacing-19.u-gallery-nav,
.u-spacing-19.u-carousel-control {
    padding: 19px;
}
blockquote.u-text.u-indent-19 {
    padding-left: 19px;
}
.u-text.u-spacing-18 li {
    margin-bottom: 18px;
}
.u-text.u-indent-18,
.u-text.u-indent-18 ul,
.u-text.u-indent-18 ol {
    padding-left: 38px;
}
.u-spacing-18.u-price-wrapper > div + div,
.u-spacing-18 .u-social-url + .u-social-url {
    margin-left: 18px;
}
.u-spacing-18.u-icon,
.u-spacing-18.u-search-icon,
.u-spacing-18.u-gallery-nav,
.u-spacing-18.u-carousel-control {
    padding: 18px;
}
blockquote.u-text.u-indent-18 {
    padding-left: 18px;
}
.u-text.u-spacing-17 li {
    margin-bottom: 17px;
}
.u-text.u-indent-17,
.u-text.u-indent-17 ul,
.u-text.u-indent-17 ol {
    padding-left: 37px;
}
.u-spacing-17.u-price-wrapper > div + div,
.u-spacing-17 .u-social-url + .u-social-url {
    margin-left: 17px;
}
.u-spacing-17.u-icon,
.u-spacing-17.u-search-icon,
.u-spacing-17.u-gallery-nav,
.u-spacing-17.u-carousel-control {
    padding: 17px;
}
blockquote.u-text.u-indent-17 {
    padding-left: 17px;
}
.u-tabs .u-tab-pane {
    position: relative;
}
.u-tabs .u-tab-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.u-tabs .u-tab-content > .u-tab-pane {
    flex: 1;
    display: none;
}
.u-tabs .u-tab-content > .u-tab-active {
    display: flex;
}
.u-tabs.u-tab-links-align-left .u-tab-list {
    justify-content: flex-start;
}
.u-tabs.u-tab-links-align-center .u-tab-list {
    justify-content: center;
}
.u-tabs.u-tab-links-align-right .u-tab-list {
    justify-content: flex-end;
}
.u-tabs.u-tab-links-align-justify .u-tab-list {
    text-align: center;
}
.u-tabs.u-tab-links-align-justify .u-tab-list > * {
    flex: 1;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-0 {
    margin-bottom: 0px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-1 {
    margin-bottom: -1px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-2 {
    margin-bottom: -2px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-3 {
    margin-bottom: -3px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-4 {
    margin-bottom: -4px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-5 {
    margin-bottom: -5px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-6 {
    margin-bottom: -6px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-7 {
    margin-bottom: -7px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-8 {
    margin-bottom: -8px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-9 {
    margin-bottom: -9px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-10 {
    margin-bottom: -10px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-11 {
    margin-bottom: -11px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-12 {
    margin-bottom: -12px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-13 {
    margin-bottom: -13px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-14 {
    margin-bottom: -14px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-15 {
    margin-bottom: -15px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-16 {
    margin-bottom: -16px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-17 {
    margin-bottom: -17px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-18 {
    margin-bottom: -18px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-19 {
    margin-bottom: -19px;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-20 {
    margin-bottom: -20px;
}
.u-text .u-icon,
.u-btn .u-icon,
.u-table-cell .u-icon,
.u-tab-link .u-icon {
    position: relative;
    display: inline;
    line-height: inherit;
    font-size: 1em;
    fill: currentColor;
    vertical-align: middle;
    white-space: nowrap;
}
.u-text .u-icon.u-file-icon > img[src],
.u-btn .u-icon.u-file-icon > img[src],
.u-table-cell .u-icon.u-file-icon > img[src],
.u-tab-link .u-icon.u-file-icon > img[src] {
    display: inline-block;
    height: 1em;
    width: auto;
    line-height: 1;
    vertical-align: -0.15em;
}
.u-text .u-icon > svg,
.u-btn .u-icon > svg,
.u-table-cell .u-icon > svg,
.u-tab-link .u-icon > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: -0.15em;
}
.u-text .u-icon > svg + img,
.u-btn .u-icon > svg + img,
.u-table-cell .u-icon > svg + img,
.u-tab-link .u-icon > svg + img {
    position: absolute !important;
    left: calc(50% - 0.5em) !important;
    top: calc(50% - 0.5em) !important;
    display: inline !important;
    padding: 0.5em !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    min-width: 0 !important;
    min-height: 0 !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 1 !important;
}
.u-login {
    display: table;
}
.u-table-cell .u-btn,
.u-text .u-btn {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    white-space: normal;
    text-align: inherit;
}
.u-table-cell .u-btn.u-button-link,
.u-text .u-btn.u-button-link {
    display: inline;
}
.u-text.u-cart-block-content .u-btn {
    white-space: nowrap;
}
.u-slider {
    display: flex;
    flex-direction: column;
}
.u-slider .u-carousel-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.u-slider .u-carousel-inner > .u-carousel-item {
    flex: 1;
    align-items: initial;
    min-height: 100%;
}
.u-slider .u-carousel-inner .u-carousel-item.u-active,
.u-slider .u-carousel-inner .u-carousel-item-next,
.u-slider .u-carousel-inner .u-carousel-item-prev {
    display: flex;
}
.u-layout-grid .u-gallery-inner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    min-height: 100%;
}
.u-layout-thumbnails,
.u-layout-carousel {
    display: flex;
}
.u-layout-thumbnails .u-carousel-inner,
.u-layout-carousel .u-carousel-inner {
    flex: 1;
}
.u-layout-thumbnails .u-carousel-item,
.u-layout-carousel .u-carousel-item {
    height: 100%;
    flex-direction: column;
}
.u-layout-thumbnails .u-carousel-item.u-active,
.u-layout-carousel .u-carousel-item.u-active,
.u-layout-thumbnails .u-carousel-item.u-carousel-item-next,
.u-layout-carousel .u-carousel-item.u-carousel-item-next,
.u-layout-thumbnails .u-carousel-item.u-carousel-item-prev,
.u-layout-carousel .u-carousel-item.u-carousel-item-prev {
    display: flex;
}
.u-layout-thumbnails .u-carousel-item .u-back-slide,
.u-layout-carousel .u-carousel-item .u-back-slide {
    position: relative;
}
.u-layout-carousel .u-over-slide {
    position: relative;
    height: auto;
}
.u-layout-thumbnails {
    flex-direction: column;
    grid-gap: 0 !important;
}
.u-layout-thumbnails .u-over-slide {
    display: none;
}
.u-layout-thumbnails .u-carousel-indicators {
    display: none;
}
.u-layout-thumbnails .u-carousel-thumbnails {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    overflow-x: auto;
}
.u-layout-thumbnails .u-carousel-thumbnail {
    flex-shrink: 0;
    overflow: hidden;
}
.u-carousel-thumbnail-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.u-thumbnails-position-bottom {
    flex-direction: column;
}
.u-thumbnails-position-bottom .u-carousel-thumbnails {
    flex-direction: row;
    order: 10;
    overflow-x: auto;
}
.u-thumbnails-position-top {
    flex-direction: column;
}
.u-thumbnails-position-top .u-carousel-thumbnails {
    flex-direction: row;
    order: -1;
    overflow-x: auto;
}
.u-thumbnails-position-left {
    flex-direction: row;
}
.u-thumbnails-position-left .u-carousel-thumbnails {
    flex-direction: column;
    order: -1;
    overflow-y: auto;
}
.u-thumbnails-position-right {
    flex-direction: row;
}
.u-thumbnails-position-right .u-carousel-thumbnails {
    flex-direction: column;
    order: 10;
    overflow-y: auto;
}
.u-layout-horizontal {
    position: relative;
    overflow: hidden;
}
.u-layout-horizontal .u-gallery-inner {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
}
.u-layout-horizontal .u-gallery-inner::-webkit-scrollbar {
    display: none;
}
.u-price-wrapper .u-price,
.u-price-wrapper .u-old-price {
    margin-top: auto;
    margin-bottom: auto;
}
.u-price-wrapper .u-old-price {
    line-height: 1;
}
.u-price-wrapper .u-hide-price {
    display: none;
}
.u-price-wrapper .u-hide-price + div {
    margin-left: 0;
}
.u-product-quantity {
    display: table;
}
.u-quantity-input {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.u-quantity-input input,
.u-quantity-input a {
    vertical-align: middle;
    line-height: 2em;
    height: 2em;
    font-size: 1em;
}
.u-quantity-input input {
    border: none;
    min-width: 3em;
    width: 100%;
}
.u-quantity-input a {
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    display: flex;
    position: relative;
    width: 2em;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.u-quantity-input a,
.u-quantity-input a:hover {
    color: inherit;
}
.u-button-style.u-custom-color-3:hover,
.u-button-style.u-custom-color-3[class*="u-border-"]:hover,
.u-button-style.u-custom-color-3:focus,
.u-button-style.u-custom-color-3[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-3:active,
.u-button-style.u-button-style.u-custom-color-3[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-3.active,
.u-button-style.u-button-style.u-custom-color-3[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-3,
li.active > .u-button-style.u-button-style.u-custom-color-3[class*="u-border-"]
{
    color: #ffffff !important;
    background-color: rgba(148,139,121,0.9) !important;
}

.u-hover-custom-color-3:hover,
.u-hover-custom-color-3[class*="u-border-"]:hover,
.u-hover-custom-color-3:focus,
.u-hover-custom-color-3[class*="u-border-"]:focus,
.u-active-custom-color-3.u-active.u-active,
.u-active-custom-color-3[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-3:hover,
a.u-button-style.u-hover-custom-color-3[class*="u-border-"]:hover,
a.u-button-style.u-hover-custom-color-3:focus,
a.u-button-style.u-hover-custom-color-3[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-3:active,
a.u-button-style.u-button-style.u-active-custom-color-3[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-3.active,
a.u-button-style.u-button-style.u-active-custom-color-3[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-custom-color-3,
li.active > a.u-button-style.u-button-style.u-active-custom-color-3[class*="u-border-"]
{
    color: #ffffff !important;
    background-color: rgba(161,153,138,0.9) !important;
}

a.u-link.u-hover-custom-color-3:hover {
    color: rgba(161,153,138,0.9) !important;
}



.u-custom-color-4,
.u-body.u-custom-color-4,
.u-container-style.u-custom-color-4:before,
.u-table-alt-custom-color-4 tr:nth-child(even)
{
    color: #111111;
    background-color: #fffcf2;
}

.u-button-style.u-custom-color-4,
.u-button-style.u-custom-color-4[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fffcf2 !important;
}

.u-button-style.u-custom-color-4:hover,
.u-button-style.u-custom-color-4[class*="u-border-"]:hover,
.u-button-style.u-custom-color-4:focus,
.u-button-style.u-custom-color-4[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-4:active,
.u-button-style.u-button-style.u-custom-color-4[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-4.active,
.u-button-style.u-button-style.u-custom-color-4[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-4,
li.active > .u-button-style.u-button-style.u-custom-color-4[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fff1c0 !important;
}

.u-hover-custom-color-4:hover,
.u-hover-custom-color-4[class*="u-border-"]:hover,
.u-hover-custom-color-4:focus,
.u-hover-custom-color-4[class*="u-border-"]:focus,
.u-active-custom-color-4.u-active.u-active,
.u-active-custom-color-4[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-4:hover,
a.u-button-style.u-hover-custom-color-4[class*="u-border-"]:hover,
a.u-button-style.u-hover-custom-color-4:focus,
a.u-button-style.u-hover-custom-color-4[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-4:active,
a.u-button-style.u-button-style.u-active-custom-color-4[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-4.active,
a.u-button-style.u-button-style.u-active-custom-color-4[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-custom-color-4,
li.active > a.u-button-style.u-button-style.u-active-custom-color-4[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fffcf2 !important;
}

a.u-link.u-hover-custom-color-4:hover {
    color: #fffcf2 !important;
}



.u-custom-color-5,
.u-body.u-custom-color-5,
.u-container-style.u-custom-color-5:before,
.u-table-alt-custom-color-5 tr:nth-child(even)
{
    color: #111111;
    background-color: #f7f7f7;
}

.u-button-style.u-custom-color-5,
.u-button-style.u-custom-color-5[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #f7f7f7 !important;
}

.u-button-style.u-custom-color-5:hover,
.u-button-style.u-custom-color-5[class*="u-border-"]:hover,
.u-button-style.u-custom-color-5:focus,
.u-button-style.u-custom-color-5[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-5:active,
.u-button-style.u-button-style.u-custom-color-5[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-5.active,
.u-button-style.u-button-style.u-custom-color-5[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-5,
li.active > .u-button-style.u-button-style.u-custom-color-5[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #dedede !important;
}

.u-hover-custom-color-5:hover,
.u-hover-custom-color-5[class*="u-border-"]:hover,
.u-hover-custom-color-5:focus,
.u-hover-custom-color-5[class*="u-border-"]:focus,
.u-active-custom-color-5.u-active.u-active,
.u-active-custom-color-5[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-5:hover,
a.u-button-style.u-hover-custom-color-5[class*="u-border-"]:hover,
a.u-button-style.u-hover-custom-color-5:focus,
a.u-button-style.u-hover-custom-color-5[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-5:active,
a.u-button-style.u-button-style.u-active-custom-color-5[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-5.active,
a.u-button-style.u-button-style.u-active-custom-color-5[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-custom-color-5,
li.active > a.u-button-style.u-button-style.u-active-custom-color-5[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #f7f7f7 !important;
}

a.u-link.u-hover-custom-color-5:hover {
    color: #f7f7f7 !important;
}



.u-custom-color-6,
.u-body.u-custom-color-6,
.u-container-style.u-custom-color-6:before,
.u-table-alt-custom-color-6 tr:nth-child(even)
{
    color: #111111;
    background-color: #ececec;
}

.u-button-style.u-custom-color-6,
.u-button-style.u-custom-color-6[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #ececec !important;
}

.u-button-style.u-custom-color-6:hover,
.u-button-style.u-custom-color-6[class*="u-border-"]:hover,
.u-button-style.u-custom-color-6:focus,
.u-button-style.u-custom-color-6[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-6:active,
.u-button-style.u-button-style.u-custom-color-6[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-6.active,
.u-button-style.u-button-style.u-custom-color-6[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-6,
li.active > .u-button-style.u-button-style.u-custom-color-6[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #d4d4d4 !important;
}

.u-hover-custom-color-6:hover,
.u-hover-custom-color-6[class*="u-border-"]:hover,
.u-hover-custom-color-6:focus,
.u-hover-custom-color-6[class*="u-border-"]:focus,
.u-active-custom-color-6.u-active.u-active,
.u-active-custom-color-6[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-6:hover,
a.u-button-style.u-hover-custom-color-6[class*="u-border-"]:hover,
a.u-button-style.u-hover-custom-color-6:focus,
a.u-button-style.u-hover-custom-color-6[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-6:active,
a.u-button-style.u-button-style.u-active-custom-color-6[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-6.active,
a.u-button-style.u-button-style.u-active-custom-color-6[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-custom-color-6,
li.active > a.u-button-style.u-button-style.u-active-custom-color-6[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #ececec !important;
}

a.u-link.u-hover-custom-color-6:hover {
    color: #ececec !important;
}



.u-custom-color-7,
.u-body.u-custom-color-7,
.u-container-style.u-custom-color-7:before,
.u-table-alt-custom-color-7 tr:nth-child(even)
{
    color: #ffffff;
    background-color: #eb5e28;
}

.u-button-style.u-custom-color-7,
.u-button-style.u-custom-color-7[class*="u-border-"]
{
    color: #ffffff !important;
    background-color: #eb5e28 !important;
}

.u-button-style.u-custom-color-7:hover,
.u-button-style.u-custom-color-7[class*="u-border-"]:hover,
.u-button-style.u-custom-color-7:focus,
.u-button-style.u-custom-color-7[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-7:active,
.u-button-style.u-button-style.u-custom-color-7[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-7.active,
.u-button-style.u-button-style.u-custom-color-7[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-7,
li.active > .u-button-style.u-button-style.u-custom-color-7[class*="u-border-"]
{
    color: #ffffff !important;
    background-color: #e24e15 !important;
}

.u-hover-custom-color-7:hover,
.u-hover-custom-color-7[class*="u-border-"]:hover,
.u-hover-custom-color-7:focus,
.u-hover-custom-color-7[class*="u-border-"]:focus,
.u-active-custom-color-7.u-active.u-active,
.u-active-custom-color-7[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-7:hover,
a.u-button-style.u-hover-custom-color-7[class*="u-border-"]:hover,
a.u-button-style.u-hover-custom-color-7:focus,
a.u-button-style.u-hover-custom-color-7[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-7:active,
a.u-button-style.u-button-style.u-active-custom-color-7[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-7.active,
a.u-button-style.u-button-style.u-active-custom-color-7[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-custom-color-7,
li.active > a.u-button-style.u-button-style.u-active-custom-color-7[class*="u-border-"]
{
    color: #ffffff !important;
    background-color: #eb5e28 !important;
}

a.u-link.u-hover-custom-color-7:hover {
    color: #eb5e28 !important;
}




.u-border-custom-color-1,
.u-separator-custom-color-1:after
{
    border-color: #bab1a0;
    stroke: #bab1a0;
}

.u-button-style.u-border-custom-color-1
{
    border-color: #bab1a0 !important;
    color: #bab1a0 !important;
    background-color: transparent !important;
}

.u-button-style.u-border-custom-color-1:hover,
.u-button-style.u-border-custom-color-1:focus
{
    border-color: #aba18c !important;
    color: #aba18c !important;
    background-color: transparent !important;
}

.u-border-hover-custom-color-1:hover,
.u-border-hover-custom-color-1:focus,
.u-border-active-custom-color-1.u-active.u-active,
a.u-button-style.u-border-hover-custom-color-1:hover,
a.u-button-style.u-border-hover-custom-color-1:focus,
a.u-button-style.u-button-style.u-border-active-custom-color-1:active,
a.u-button-style.u-button-style.u-border-active-custom-color-1.active,
li.active > a.u-button-style.u-button-style.u-border-active-custom-color-1
{
    color: #bab1a0 !important;
    border-color: #bab1a0 !important;
}

.u-link.u-border-custom-color-1[class*="u-border-"]
{
    border-color: #bab1a0 !important;
}

.u-link.u-border-custom-color-1[class*="u-border-"]:hover
{
    border-color: #aba18c !important;
}


.u-border-custom-color-2,
.u-separator-custom-color-2:after
{
    border-color: #ccc5b9;
    stroke: #ccc5b9;
}

.u-button-style.u-border-custom-color-2
{
    border-color: #ccc5b9 !important;
    color: #ccc5b9 !important;
    background-color: transparent !important;
}

.u-button-style.u-border-custom-color-2:hover,
.u-button-style.u-border-custom-color-2:focus
{
    border-color: #bcb2a2 !important;
    color: #bcb2a2 !important;
    background-color: transparent !important;
}

.u-border-hover-custom-color-2:hover,
.u-border-hover-custom-color-2:focus,
.u-border-active-custom-color-2.u-active.u-active,
a.u-button-style.u-border-hover-custom-color-2:hover,
a.u-button-style.u-border-hover-custom-color-2:focus,
a.u-button-style.u-button-style.u-border-active-custom-color-2:active,
a.u-button-style.u-button-style.u-border-active-custom-color-2.active,
li.active > a.u-button-style.u-button-style.u-border-active-custom-color-2
{
    color: #ccc5b9 !important;
    border-color: #ccc5b9 !important;
}

.u-link.u-border-custom-color-2[class*="u-border-"]
{
    border-color: #ccc5b9 !important;
}

.u-link.u-border-custom-color-2[class*="u-border-"]:hover
{
    border-color: #bcb2a2 !important;
}


.u-border-custom-color-3,
.u-separator-custom-color-3:after
{
    border-color: rgba(161,153,138,0.9);
    stroke: rgba(161,153,138,0.9);
}
.u-border-hover-custom-color-3:hover,
.u-border-hover-custom-color-3:focus,
.u-border-active-custom-color-3.u-active.u-active,
a.u-button-style.u-border-hover-custom-color-3:hover,
a.u-button-style.u-border-hover-custom-color-3:focus,
a.u-button-style.u-button-style.u-border-active-custom-color-3:active,
a.u-button-style.u-button-style.u-border-active-custom-color-3.active,
li.active > a.u-button-style.u-button-style.u-border-active-custom-color-3
{
    color: rgba(161,153,138,0.9) !important;
    border-color: rgba(161,153,138,0.9) !important;
}

.u-link.u-border-custom-color-3[class*="u-border-"]
{
    border-color: rgba(161,153,138,0.9) !important;
}

.u-link.u-border-custom-color-3[class*="u-border-"]:hover
{
    border-color: rgba(148,139,121,0.9) !important;
}


.u-border-custom-color-4,
.u-separator-custom-color-4:after
{
    border-color: #fffcf2;
    stroke: #fffcf2;
}

.u-button-style.u-border-custom-color-4
{
    border-color: #fffcf2 !important;
    color: #fffcf2 !important;
    background-color: transparent !important;
}

.u-button-style.u-border-custom-color-4:hover,
.u-button-style.u-border-custom-color-4:focus
{
    border-color: #fff1c0 !important;
    color: #fff1c0 !important;
    background-color: transparent !important;
}

.u-border-hover-custom-color-4:hover,
.u-border-hover-custom-color-4:focus,
.u-border-active-custom-color-4.u-active.u-active,
a.u-button-style.u-border-hover-custom-color-4:hover,
a.u-button-style.u-border-hover-custom-color-4:focus,
a.u-button-style.u-button-style.u-border-active-custom-color-4:active,
a.u-button-style.u-button-style.u-border-active-custom-color-4.active,
li.active > a.u-button-style.u-button-style.u-border-active-custom-color-4
{
    color: #fffcf2 !important;
    border-color: #fffcf2 !important;
}

.u-link.u-border-custom-color-4[class*="u-border-"]
{
    border-color: #fffcf2 !important;
}

.u-link.u-border-custom-color-4[class*="u-border-"]:hover
{
    border-color: #fff1c0 !important;
}
.u-border-custom-color-5,
.u-separator-custom-color-5:after
{
    border-color: #f7f7f7;
    stroke: #f7f7f7;
}

.u-button-style.u-border-custom-color-5
{
    border-color: #f7f7f7 !important;
    color: #f7f7f7 !important;
    background-color: transparent !important;
}

.u-button-style.u-border-custom-color-5:hover,
.u-button-style.u-border-custom-color-5:focus
{
    border-color: #dedede !important;
    color: #dedede !important;
    background-color: transparent !important;
}

.u-border-hover-custom-color-5:hover,
.u-border-hover-custom-color-5:focus,
.u-border-active-custom-color-5.u-active.u-active,
a.u-button-style.u-border-hover-custom-color-5:hover,
a.u-button-style.u-border-hover-custom-color-5:focus,
a.u-button-style.u-button-style.u-border-active-custom-color-5:active,
a.u-button-style.u-button-style.u-border-active-custom-color-5.active,
li.active > a.u-button-style.u-button-style.u-border-active-custom-color-5
{
    color: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
}

.u-link.u-border-custom-color-5[class*="u-border-"]
{
    border-color: #f7f7f7 !important;
}

.u-link.u-border-custom-color-5[class*="u-border-"]:hover
{
    border-color: #dedede !important;
}


.u-border-custom-color-6,
.u-separator-custom-color-6:after
{
    border-color: #ececec;
    stroke: #ececec;
}

.u-button-style.u-border-custom-color-6
{
    border-color: #ececec !important;
    color: #ececec !important;
    background-color: transparent !important;
}

.u-button-style.u-border-custom-color-6:hover,
.u-button-style.u-border-custom-color-6:focus
{
    border-color: #d4d4d4 !important;
    color: #d4d4d4 !important;
    background-color: transparent !important;
}

.u-border-hover-custom-color-6:hover,
.u-border-hover-custom-color-6:focus,
.u-border-active-custom-color-6.u-active.u-active,
a.u-button-style.u-border-hover-custom-color-6:hover,
a.u-button-style.u-border-hover-custom-color-6:focus,
a.u-button-style.u-button-style.u-border-active-custom-color-6:active,
a.u-button-style.u-button-style.u-border-active-custom-color-6.active,
li.active > a.u-button-style.u-button-style.u-border-active-custom-color-6
{
    color: #ececec !important;
    border-color: #ececec !important;
}
.u-link.u-border-custom-color-7[class*="u-border-"]:hover
{
    border-color: #e24e15 !important;
}



.u-text-custom-color-1,
a.u-button-style.u-text-custom-color-1,
a.u-button-style.u-text-custom-color-1[class*="u-border-"]
{
    color: #bab1a0 !important;
}

a.u-button-style.u-text-custom-color-1:hover,
a.u-button-style.u-text-custom-color-1[class*="u-border-"]:hover,
a.u-button-style.u-text-custom-color-1:focus,
a.u-button-style.u-text-custom-color-1[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-custom-color-1:active,
a.u-button-style.u-button-style.u-text-custom-color-1[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-custom-color-1.active,
a.u-button-style.u-button-style.u-text-custom-color-1[class*="u-border-"].active
{
    color: #aba18c !important;
}

a.u-button-style.u-button-style.u-text-hover-custom-color-1:hover,
a.u-button-style.u-button-style.u-text-hover-custom-color-1[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-custom-color-1:focus,
a.u-button-style.u-button-style.u-text-hover-custom-color-1[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1[class*="u-border-"].active,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-custom-color-1:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-custom-color-1.active,
.u-popupmenu-items.u-text-hover-custom-color-1 .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-custom-color-1 .u-nav-link.active
{
    color: #bab1a0 !important;
}

.u-text-custom-color-1 svg,
.u-text-hover-custom-color-1:hover svg,
.u-text-hover-custom-color-1:focus svg
{
    fill: #bab1a0;
}

.u-link.u-text-custom-color-1:hover
{
    color: #aba18c !important;
}

a.u-link.u-text-hover-custom-color-1:hover
{
    color: #bab1a0 !important;
}


.u-text-custom-color-2,
a.u-button-style.u-text-custom-color-2,
a.u-button-style.u-text-custom-color-2[class*="u-border-"]
{
    color: #ccc5b9 !important;
}

a.u-button-style.u-text-custom-color-2:hover,
a.u-button-style.u-text-custom-color-2[class*="u-border-"]:hover,
a.u-button-style.u-text-custom-color-2:focus,
a.u-button-style.u-text-custom-color-2[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-custom-color-2:active,
a.u-button-style.u-button-style.u-text-custom-color-2[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-custom-color-2.active,
a.u-button-style.u-button-style.u-text-custom-color-2[class*="u-border-"].active
{
    color: #bcb2a2 !important;
}

a.u-button-style.u-button-style.u-text-hover-custom-color-2:hover,
a.u-button-style.u-button-style.u-text-hover-custom-color-2[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-custom-color-2:focus,
a.u-button-style.u-button-style.u-text-hover-custom-color-2[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2[class*="u-border-"].active,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-custom-color-2:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-custom-color-2.active,
.u-popupmenu-items.u-text-hover-custom-color-2 .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-custom-color-2 .u-nav-link.active
{
    color: #ccc5b9 !important;
}

.u-text-custom-color-2 svg,
.u-text-hover-custom-color-2:hover svg,
.u-text-hover-custom-color-2:focus svg
{
    fill: #ccc5b9;
}

.u-link.u-text-custom-color-2:hover
{
    color: #bcb2a2 !important;
}

a.u-link.u-text-hover-custom-color-2:hover
{
    color: #ccc5b9 !important;
}


.u-text-custom-color-3,
a.u-button-style.u-text-custom-color-3,
a.u-button-style.u-text-custom-color-3[class*="u-border-"]
{
    color: rgba(161,153,138,0.9) !important;
}
.u-section-1 .u-sheet-1 {
    min-height: 50vw;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    background-image: none;
    font-weight: bold;
    margin: 52px 0 0;
}

.u-section-1 .u-tabs-1 {
    min-height: 547px;
    margin-top: 52px;
    margin-bottom: 52px;
}

.u-section-1 .u-tab-link-1 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 700;
    font-family: "Noto Sans JP Regular";
    padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 700;
    font-family: "Noto Sans JP Regular";
    padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 700;
    font-family: "Noto Sans JP Regular";
    padding: 10px 25px;
}

.u-section-1 .u-tab-item-4 {
    margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 700;
    font-family: "Noto Sans JP Regular";
    padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-2 {
    font-family: "Noto Sans JP Regular";
    line-height: 25.6px;
    margin: 22px 147px 0 507px;
}

.u-section-1 .u-image-1 {
    width: 269px;
    height: 269px;
    background-image: url("../../media/image/thu.jpg");
    background-position: 50% 50%;
    margin: -269px auto 0 40px;
}
.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-text-3 {
    line-height: 1.8;
    margin: 0;
}

.u-section-1 .u-tab-pane-3 {
    background-image: none;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-text-4 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-text-5 {
    margin: 40px 0 0;
}

.u-section-1 .u-tab-pane-4 {
    background-image: none;
}

.u-section-1 .u-container-layout-4 {
    padding: 30px;
}

.u-section-1 .u-text-6 {
    margin-top: 0;
    font-family: "Noto Sans JP Regular";
}